<h1 mat-dialog-title>Add Book Form</h1>

<div mat-dialog-content>
    <form  [formGroup]="bookForm">
        <mat-form-field appearance="outline" class="mt-3">
            <mat-label>Book Name</mat-label>
            <input formControlName="BookName" matInput placeholder="RiseofMorningstar">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
          </mat-form-field>
    
          <mat-form-field appearance="outline" mt-3>
            <mat-label>Author Name</mat-label>
            <input formControlName="AuthorName" matInput placeholder="Tariq">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
           
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input formControlName="IssueDate" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Amount</mat-label>
            <input formControlName="Price" matInput type="number" class="example-right-align" placeholder="0">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>
    
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn">Cancel</button>
    
    <button mat-raised-button color="primary" (click)="saveBook()">{{actionbtn}}</button>
</div>